<div class="row">
  <div class="col-md-3">
    <div class="card">
      <h6 class="card-header">Cost Center List</h6>
      <div class="card-body">
        asdf
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <h6 class="card-header">Cost Center</h6>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <label>Name</label>
          </div>
          <div class="col-md-9">
            <input type="text" [(ngModel)]="costCenter.costName" class="form-control form-control-sm">
          </div>
          <div class="col-md-3 mt-1">
            <label>Description</label>
          </div>
          <div class="col-md-9 mt-1">
            <textarea rows="3" [(ngModel)]="costCenter.descr" class="form-control form-control-sm"></textarea>
          </div>
          <div class="col-md-3 mt-1">
            <label>Parent Cost Center</label>
          </div>
          <div class="col-md-9 mt-1">
            <ng-select [items]="costCenterList" bindLabel="costName" autofocus bindValue="costNo" name="costCenterList"
              [(ngModel)]="costCenter.costNoParent">
            </ng-select>
          </div>
          <div class="col-md-3 mt-1">
            <label>Inactive</label>
          </div>
          <div class="col-md-1 mt-1 ml-4">
            <input class="form-check-input" [checked]="costCenter.inactiveStat===1"
              (change)="costCenter.inactiveStat=costCenter.inactiveStat?1:0" type="checkbox">
          </div>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="text-right mb-1">
          <button (click)="onclickSaveCostcenter()" class="btn btn-primary btn-sm mr-1" *ngIf="!editMode"><i
              class="fa fa-check"></i>&nbsp;Save</button>
          <button (click)="onClickAddNew()" class="btn btn-secondary btn-sm" *ngIf="editMode"><i
              class="fa fa-plus"></i>&nbsp;Add New</button>
          <button (click)="onclickUpdateCostcenter()" class="btn btn-success btn-sm ml-1" *ngIf="editMode"><i
              class="fa fa-refresh"></i>&nbsp;Update</button>
          <button (click)="onClickDeleteCostcenter()" class="btn btn-danger btn-sm m-1" *ngIf="editMode"><i
              class="fa fa-times"></i>&nbsp;Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<nl-popup></nl-popup>
