<div class="modal popup-confirm" [ngClass]="{show: modalStatus }" [ngStyle]="{display:modalStatus?'block':'none'}">
  <div [className]="className">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close" (click)="resolve(false)">
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div class="modal-body text-center">
          <div class="popup-confirm__icon">
            <i *ngIf="type == 'danger'" class="fa fa-times-circle"></i>
            <i *ngIf="type == 'success'" class="fa fa-check-circle"></i>
            <i *ngIf="type == 'info'" class="fa fa-check-circle"></i>
            <i *ngIf="type == 'warning'" class="fa fa-exclamation-triangle"></i>
          </div>
          <h3 *ngIf="type == 'alert'">Oops!</h3>
          <p class="popup-confirm__text">{{ body }}</p>
          <div *ngIf="confirmation" class="text-right">
            <button *ngIf="type == 'success'" type="button" class="btn btn-success mr-base-double"
              (click)="resolve(true)">Yes</button>
            <button *ngIf="type == 'warning'" type="button" class="btn btn-warning mr-base-double"
              (click)="resolve(true)">Yes</button>
            <button *ngIf="type == 'danger'" type="button" class="btn btn-danger mr-base-double"
              (click)="resolve(true)">Yes</button>
            <button *ngIf="type == 'info'" type="button" class="btn btn-info mr-base-double"
              (click)="resolve(true)">Yes</button>
            <button type="button" class="btn btn-default" (click)="resolve(false)">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="modalStatus"></div>
