<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header height-control">
        <div class="row">
          <div class="col-md-6">
            <h6>Plot Item Setup</h6>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <a (click)="onClickShowItemSearch()" *ngIf="!itemSearch"><i class="fa fa-arrow-down"></i></a>
              <a (click)="onClickShowItemSearch()" *ngIf="itemSearch"><i class="fa fa-arrow-up"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header" *ngIf="itemSearch">
        <div class="row" *ngIf="itemSearch">
          <div class="col-md-5">
            <label for="selectedProjectNo">Project Name</label>
            <ng-select [items]="projectList" bindLabel="projectName" autofocus bindValue="projectNo"
              name="selectedProjectNo" [(ngModel)]="selectedProjectNo" (change)="onChangeGetItemList()">
            </ng-select>
          </div>
          <div class="col-md-5">
            <label for="itemList">Item Id</label>
            <ng-select [items]="itemList" bindLabel="itemId" autofocus bindValue="itemNo" name="itemList"
              [(ngModel)]="selectedItemNo">
            </ng-select>
          </div>
          <div class="col-md-1 mt-4">
            <button class="btn btn-sm btn-primary" (click)="onChangeGetItemDetails(0)"><i
                class="fa fa-search"></i></button>
          </div>
          <div class="col-md-1 mt-4">
            <button class="btn btn-sm btn-primary" [disabled]="editMode" (click)="onChangeGetItemDetails(1)"><i
                class="fa fa-clone"></i></button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Item No.</label>
              <input readonly type="text" class="form-control form-control-sm" [(ngModel)]="flat.itemId" name="itemId">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Item Name</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.itemName" name="itemName">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" [(ngModel)]="flat.descr" name="descr"></textarea>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Description (Bangla)</label>
              <textarea class="form-control" [(ngModel)]="flat.descrBn" name="descrBn"></textarea>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Terms & Conditions</label>
              <textarea class="form-control" [(ngModel)]="flat.termsAndCondition" name="termsAndCondition"></textarea>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Terms & Conditions (Bangla)</label>
              <textarea class="form-control" [(ngModel)]="flat.termsAndConditionBn"
                name="termsAndConditionBn"></textarea>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project Name</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.projectNo" name="projectNo"
                (change)="onChangeProject()">
                <option *ngFor="let item of projectList" [value]="item.projectNo">{{ item.projectName }}</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project Type</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.projectTypeName"
                name="projectTypeName" readonly>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project Status</label>
              <input type="text" readonly [(ngModel)]="flat.projectStatus" class="form-control form-control-sm"
                name="projectStatus" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project Location</label>
              <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="flat.projectLocation"
                name="projectLocation">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Plot No.</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.plotNo" name="plotNo">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Road Size</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.roadSize" name="roadSize">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Road Side</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.roadSide" name="roadSize">
                <option value="1">One Side Road</option>
                <option value="2">Two Side Road</option>
                <option value="3">Three Side Road</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-sm-6">
            <div class="form-group">

              <label>Road No.</label>
              <input [(ngModel)]="flat.roadNo" type="text" class="form-control form-control-sm" name="roadNo">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Plot Facing</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.facingNo" name="facingNo">
                <option *ngFor="let item of facingList" [value]="item.facingNo">{{ item.facingName }}</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Plot Position</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.positionNo" name="positionNo">
                <option *ngFor="let item of positionList" [value]="item.positionNo">{{ item.positionName }}</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Block</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.blockName" name="blockName">
                <option *ngFor="let block of blockFromTo" [value]="block.VALUE">{{ block.TEXT }}</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Plot Size</label>
              <input type="text" (change)="calculatePrice()" class="form-control form-control-sm"
                [(ngModel)]="flat.plotSize" name="plotSize">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>UoM</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.uomNo" name="uomNo">
                <option *ngFor="let inuom of uomList" [value]="inuom.uomNo">{{ inuom.uomShort }}</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Others</label>
              <input type="text" name="others" class="form-control form-control-sm" [(ngModel)]="flat.others">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Price</label>
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" (change)="calculatePrice()"
                  [(ngModel)]="flat.price" name="price">
              </div>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Total Price</label>
              <div class="border-control border">
                {{ flat.totalPrice | number : '1.2-2' }}
              </div>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Discount (%)</label>
              <input type="text" class="form-control form-control-sm" (change)="calculatePrice()"
                [(ngModel)]="flat.discountPct" name="discountPct">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Discount Amount</label>
              <div class="border-control border">
                {{ flat.discountAmount | number : '1.2-2' }}
              </div>
            </div>
            <!--/.form-group-->
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Net Price</label>
              <div class="border-control border">
                {{ flat.netPrice | number : '1.2-2' }}
              </div>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Booking Money</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.bookingMoney"
                name="bookingMoney">
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Price Negotiable</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.priceNegotiableFlag"
                name="priceNegotiableFlag">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Publish Status</label>
              <select class="form-control form-control-sm" [(ngModel)]="flat.publishFlag" name="publishFlag">
                <option value="1">Publish</option>
                <option value="0">Draft</option>
              </select>
            </div>
            <!--/.form-group-->
          </div>
        </div>
        <div class="text-right">
          <button *ngIf="!editMode" class="btn btn-primary btn-sm" (click)="onClickSave()"><i
              class="fa fa-check"></i>&nbsp;Save</button>
          <button *ngIf="editMode" class="btn btn-secondary btn-sm" (click)="onClickNew()"><i
              class="fa fa-plus"></i>&nbsp;Add New</button>
          <button *ngIf="editMode" class="btn btn-success btn-sm ml-1" (click)="onClickUpdate()"><i
              class="fa fa-refresh"></i>&nbsp;Update</button>
          <button *ngIf="editMode" class="btn btn-danger btn-sm m-1" (click)="onClickDelete()"><i
              class="fa fa-times"></i>&nbsp;Delete</button>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <h6 class="card-header">Item Brand Photo</h6>
      <div class="card-body">
        <div class="slider-wrapper">
          <img *ngIf="flat.itemBrandPhoto" [src]="itemBrandPhotoUrl" alt="">
          <input class="form-control-file form-control-sm mt-2" ng-model="file_upload" name="itemBrandPhoto" type="file"
            (change)="changeBrandFile($event)" #fileInput>
        </div>
      </div>
    </div>
    <!-- Item Brand Photo Upload -->
    <div class="card mt-2">
      <h6 class="card-header">Video List</h6>
      <div class="card-body">
        <div class="video-list">
          <div class="video-item" *ngFor="let item of videosList">
            <div class="card">
              <div class="card-header">
                <h4 class="float-left">{{item.videoTitle}}</h4>
                <div class="float-right">
                  <button class="btn btn-sm btn-danger" (click)="onClickDeleteVideo(item.videoNo, i)"><i
                      class="fa fa-trash"></i></button>
                  <button class="btn btn-sm btn-info ml-1" (click)="onClikUpdateFlag(item)"><i
                      class="fa fa-pencil"></i></button>
                </div>
              </div>
            </div>
            <youtube-player [videoId]="item.youtubeVideoLink" (ready)="savePlayer($event)"
              (change)="onStateChange($event)">
            </youtube-player>
          </div>
        </div>
        <div class="form-group">
          <label>Video Title</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="flat.videoTitle" name="videoTitle">
        </div>
        <div class="form-group">
          <label>YouTube Video Link</label>
          <input class="form-control form-control-sm" [(ngModel)]="flat.youtubeVideoLink" name="youtubeVideoLink">
        </div>
        <div>
          <button *ngIf="!videoUpdateFlag" [disabled]="!flat.itemNo || !flat.youtubeVideoLink"
            class="btn btn-success btn-sm" (click)="onClickSaveVideo()"><i
              class="fa fa-upload"></i>&nbsp;Upload</button>
          <button *ngIf="videoUpdateFlag" [disabled]="!flat.itemNo" class="btn btn-success btn-sm mt-2"
            (click)="onClickUpdateVideo()"><i class="fa fa-refresh"></i>&nbsp;Update Video</button>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <h6 class="card-header">Slider List</h6>
      <div class="card-body">
        <div class="slider-wrapper">
          <div class="slider-list">
            <div *ngFor="let item of sliderList; let i = index" class="slider-item">
              <span class="slider-item__delete" (click)="onClickDeleteSlider(item.sliderNo, i)"><i
                  class="fa fa-times"></i></span>
              <img [src]="item.imagePath" alt="">
            </div>
          </div>
          <input class="form-control-file form-control-sm mt-2" ng-model="file_upload" name="multipartFile" type="file"
            (change)="fileChange($event)" #fileInput2>
          <button class="btn btn-success btn-sm mt-2" (click)="onClickUploadImage()"
            [disabled]="!flat.itemNo || !myInputVariable2.nativeElement.value"><i
              class="fa fa-upload"></i>&nbsp;Upload</button>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <h6 class="card-header">Installment Setup</h6>
      <div class="card-body">
        <div class="table-responsive scroll-4">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>SL.NO.</th>
                <th> Installment Amount</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemInstallment of rlitemInstallmentList; let i = index">
                <td>{{ i+1 }}</td>
                <td><input type="text" class="form-control form-control-sm"
                    [(ngModel)]="itemInstallment.installmentAmount" name="itemInstallment-{{i}}"></td>
                <td><button class="btn btn-danger btn-sm"
                    (click)="onClickDeleteRlItemInstallment(itemInstallment.installmentNo, i)"><i
                      class="fa fa-times"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button [disabled]="!flat.itemNo" class="btn btn-secondary btn-sm mt-2"
          (click)="onClickAddRlItemInstallment()"><i class="fa fa-plus"></i>&nbsp;Add New</button>
        <button [disabled]="!flat.itemNo" class="btn btn-success btn-sm ml-base mt-2 ml-1"
          (click)="onClickSaveRlItemInstallment()"><i class="fa fa-check"></i>&nbsp;Save</button>
      </div>
    </div>
  </div>
</div>
<nl-popup></nl-popup>