<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="card">
        <h6 class="card-header">Employee Information</h6>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label>Emp ID</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-3 mt-2">
              <label>Emp Name</label>
            </div>
            <div class="col-md-9 mt-2">
              <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-3 mt-2">
              <label>BU Name</label>
            </div>
            <div class="col-md-9 mt-2">
              <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-3 mt-2">
              <label>Job Title</label>
            </div>
            <div class="col-md-9 mt-2">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <h6 class="card-header">User Credential Information</h6>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label>User Name</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-3 mt-1">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="costCheck1">
                <label class="form-check-label" for="costCheck1">
                  Active Slat
                </label>
              </div>
            </div>
            <div class="col-md-3 mt-2">
              <label>New Password</label>
            </div>
            <div class="col-md-6 mt-2">
              <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 mt-2">
              <label>Confirm Password</label>
            </div>
            <div class="col-md-6 mt-2">
              <input type="text" class="form-control form-control-sm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>