<div class="card-header border">
  <div class="row ">
    <div class="col-md-3">
      <h6 class="text-center">Apartment Project List</h6>
    </div>
    <div class="col-md-4"><input class="form-control list-item-surch-box" placeholder="Search here" type="text"
        [(ngModel)]="searchString"></div>
    <div class="col-md-2">
      <form class="form-inline">
        <div class="form-group">
          <label>Show Record:&nbsp;</label>
          <select class="form-control form-control-sm" [(ngModel)]="showRecordsNo" name="showRecordsNo">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <div class="btn-group ml-3" role="group" aria-label="Basic example">
        <button (click)="generatePdf('PR')" class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i></button>
        <button (click)="generatePdf('D')" class="btn btn-secondary btn-sm"><i class="fa fa-download"></i></button>
        <button (click)="generatePdf('P')" class="btn btn-secondary btn-sm"><i class="fa fa-print"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-1 ">
      <div class="text-right">
        <h5>
          <a><i class="fa fa-list fa-lg ml-1" [class.text-dark]="listViewType===1" [class.text-gray]="listViewType!==1"
              (click)="onClickChangeType(1)"></i></a>
          <a class="ml-1"><i class="fa fa-table fa-lg" [class.text-dark]="listViewType===2"
              [class.text-gray]="listViewType!==2" (click)="onClickChangeType(2)"></i></a>
        </h5>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listViewType===1" class="list-wrapper border">
  <div class="nl-list-item"
    *ngFor="let item of allApartmentList | filter : searchFields : searchString | paginate: { itemsPerPage: showRecordsNo, currentPage: curPage }; let i = index;">
    <div class="nl-list-item__image border-right">
      <img [src]="item.projectLayoutPhoto" alt="projectLayout photo">
    </div>
    <div class="nl-list-item__text-content">
      <div class="row">
        <div class="col-md-12">
          <h4 class="nl-list-item__title"><a
              [routerLink]="['/rl1003', item.projectNo]">{{ item.projectName }}<span>&nbsp;({{item.projectId}})</span></a>
          </h4>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"><strong>Project Location:</strong> {{item.projectLocation}}</p>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"><strong>Project Type:</strong> {{item.projectType}}</p>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"><strong>No of Flat:</strong> {{item.noOfFlat}}</p>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"> <strong>Land Area:</strong> {{item.landArea}} {{item.uomShort}}</p>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"><strong>Facing:</strong> {{item.facingName}}</p>
        </div>
        <div class="col-md-6">
          <p class="nl-list-item__desc"><strong>Open Space:</strong> {{item.openSpace}} %</p>
        </div>
        <br>
        <br>
        <div class="col-md-12">
          <div class="text-left">
            <button class="btn btn-sm btn-danger m-1" (click)="onClickDeleteApparmet(item.projectNo)"><i
                class="fa fa-times"></i>&nbsp;Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listViewType===2" class="border">
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped">
      <tr>
        <th>Serial</th>
        <th>Project Name</th>
        <th>Project Location</th>
        <th>Number of Flat</th>
        <th>Number of lift</th>
        <th>Action</th>
      </tr>
      <tr
        *ngFor="let item of allApartmentList | filter : searchFields : searchString | paginate: { itemsPerPage: showRecordsNo, currentPage: curPage }; let i = index;">
        <td>{{ i+1 }}</td>
        <td>{{ item.projectName }}</td>
        <td>{{ item.projectLocation }}</td>
        <td>{{ item.noOfFlat }}</td>
        <td>{{ item.noOfLift }}</td>
        <td>
          <a class="btn btn-sm btn-info" [routerLink]="['/rl1003', item.projectNo]"><i
              class="fa fa-pencil"></i>&nbsp;Edit</a>
          <button class="btn btn-sm btn-danger m-1" (click)="onClickDeleteApparmet(item.projectNo)"><i
              class="fa fa-times"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="text-center">
  <pagination-controls (pageChange)="curPage = $event"></pagination-controls>
</div>
<nl-popup></nl-popup>