<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Project Name</td>
        <td>:</td>
        <td>{{ flat.projectNo }}</td>
      </tr>
      <tr>
        <td>Project Type</td>
        <td>:</td>
        <td></td>
      </tr>
      <tr>
        <td>Project Location</td>
        <td>:</td>
        <td></td>
      </tr>
      <tr>
        <td>Plot Size</td>
        <td>:</td>
        <td>{{flat.plotSize}}</td>
      </tr>
      <tr>
        <td>Project ID</td>
        <td>:</td>
        <td>{{ flat.projectId }}</td>
      <tr>
        <td>Block Name From</td>
        <td>:</td>
        <td>{{ flat.blockNameFrom }}</td>
      </tr>
      <tr>
        <td>Block Name To</td>
        <td>:</td>
        <td>{{ flat.blockNameTo }}</td>
      </tr>
    </tbody>
  </table>
</div>
