<div class="container">
  <br />
  <br />
  <br />
  <ul class="nav nav-tabs user-navbar ">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile']">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/edit-profile']">Edit Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/cart']">My Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/my-order']">My Order</a>
    </li>
  </ul>
  <br />


  <div class="table-responsive">
    <div class="card mb-3">
      <table class="table">
        <thead class="bg-gray">
          <tr>
            <td>SL.NO.</td>
            <td>Item Name</td>
            <td>Price</td>
            <td>Action</td>
            <td>Checkout</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemList; let i = index">
            <td>{{ i+1 }}</td>
            <td> <a [routerLink]="['/product-details', item.itemNo]">{{ item.itemName }}</a></td>
            <td>{{ item.totalPrice | number:'1.2-2' }}</td>
            <td>
              <button class="btn btn-danger" (click)="onClickRemoveItem(item, i)">Remove</button>
            </td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/login']" *ngIf="!customerNo">Buy Now</a>
              <a class="btn btn-primary" [routerLink]="['/checkout',item.itemNo]"  *ngIf="customerNo">Buy Now</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="text-right"><strong>Total Price</strong></td>
            <td>{{ totalPrice | number:'1.2-2' }} Tk</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="text-right">

  </div>
</div>