<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="card">
            <h6 class="card-header">Company List</h6>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Alias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="card">
            <h6 class="card-header">Grand Use To User</h6>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">User Role</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="card">
            <h6 class="card-header">Grant Admin Privilige</h6>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">User Privilige</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                  <tr>
                    <td><input type="text" class="form-control form-control-sm"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>