<div class="card-header border">
  <div class="row ">
    <div class="col-md-2">
      <h6 class="text center">Customer List</h6>
    </div>
    <div class="col-md-5">
      <input class="form-control list-item-surch-box" placeholder="Search here" type="text" [(ngModel)]="searchString">
    </div>
    <div class="col-md-2">
      <form class="form-inline">
        <div class="form-group">
          <label>Show Record:&nbsp;</label>
          <select class="form-control form-control-sm" [(ngModel)]="showRecordsNo" name="showRecordsNo">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <div class="btn-group ml-3" role="group" aria-label="Basic example">
        <button (click)="generatePdf('PR')" class="btn btn-secondary btn-sm"><i class="fa fa-file-pdf-o"></i></button>
        <button (click)="generatePdf('D')" class="btn btn-secondary btn-sm"><i class="fa fa-download"></i></button>
        <button (click)="generatePdf('P')" class="btn btn-secondary btn-sm"><i class="fa fa-print"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-1">
      <div class="text-right">
        <h5>
          <a><i class="fa fa-list fa-lg ml-2" [class.text-dark]="listViewType===1" [class.text-gray]="listViewType!==1"
              (click)="onClickChangeType(1)"></i></a>
          <a class="ml-1"><i class="fa fa-table fa-lg" [class.text-dark]="listViewType===2"
              [class.text-gray]="listViewType!==2" (click)="onClickChangeType(2)"></i></a>
        </h5>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listViewType===1" class="list-wrapper border">
  <div class="nl-list-item"
    *ngFor="let customer of customerList | filter : searchFields : searchString | paginate: { itemsPerPage: showRecordsNo, currentPage: curPage }; let i = index;">
    <div class="nl-list-item__image border-right">
      <img [src]="customer.customProfilePhoto" alt="customer photo">
    </div>
    <div class="nl-list-item__text-content">
      <h4 class="nl-list-item__title"><a
          [routerLink]="['/rl1002', customer.customerNo]">{{ customer.customerName }}<span>&nbsp;({{customer.customerId}})</span></a>
      </h4>
      <p class="nl-list-item__desc"> <i class="fa fa-phone text-primary"></i> {{customer.mobile}}</p>
      <p class="nl-list-item__desc"> <i class="fa fa-envelope text-primary"></i> {{customer.email}}</p>
      <p class="nl-list-item__desc"><i class="fa fa-map-marker text-primary"></i> {{customer.presentAddress}}
      </p>
      <button class="btn btn-sm btn-danger" (click)="onClickDeleteCustomer(customer.customerNo, i)"><i
          class="fa fa-times"></i>&nbsp;Delete</button>
    </div>
  </div>
</div>

<div *ngIf="listViewType===2" class="border">
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Serial</th>
          <th>Customer ID</th>
          <th>Customer Name</th>
          <th>Mobile</th>
          <th>E-mail</th>
          <th>Present Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let customer of customerList | filter : searchFields : searchString | paginate: { itemsPerPage: showRecordsNo, currentPage: curPage }; let i = index;">
          <td>{{ i+1 }}</td>
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.customerName }}</td>
          <td>{{ customer.mobile }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.presentAddress }}</td>
          <td>
            <a class="btn btn-sm btn-info m-1" [routerLink]="['/rl1002', customer.customerNo]"><i
                class="fa fa-pencil"></i>&nbsp;Edit</a>
            <button class="btn btn-sm btn-danger" (click)="onClickDeleteCustomer(customer.customerNo,i)"><i
                class="fa fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="text-center">
  <pagination-controls (pageChange)="curPage = $event"></pagination-controls>
</div>
<nl-popup></nl-popup>